page{
 
  .scroll-y {
    
    background-color: #f5f5f5;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    padding: 10rpx;
    border-bottom: 1rpx solid #eee;
  }
  
  .item-image {
    width:50%; /* 图片宽度 */
    height:200rpx; /* 图片高度 */
    margin-right: 20rpx; /* 图片与描述信息之间的间距 */
   
  }
  
  .item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-size: small;
    
  }
  
  .title {
    font-size: 32rpx;
    color: #198aad; /* 可点击的标题颜色 */
    margin-bottom: 10rpx;
  }
  
}

