/* pages/user-info/user-info.wxss */
.wrap{
  width: 100%;
  min-height: 100vh;
}
.container{
  width: 90%;
  min-height: 100vh;
  // background-color: yellowgreen;
  margin: auto;
}
// 表单
.form{
  width: 100%;
  min-height: 200rpx;
  background-color: rgba(255, 255, 255,0.5);
  margin-top: 200rpx;
  position: relative;
  border-radius: 60rpx;
  box-shadow: 0 0 40rpx 10rpx rgba(0,0,0,0.08);
}
.role{
  width: 300rpx;
  height: 300rpx;
  // background-color: red;
  overflow: hidden;
  border-radius: 50%;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -150rpx;
  box-shadow: 0 0 40rpx 10rpx rgba(0,0,0,0.08);
}
.role image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputs{
  margin: 180rpx auto 60rpx;
}

.item{
  width: 80%;
  height: 100rpx;
  background-color: rgba(255, 255, 255,0.5);
  border-radius: 70rpx;
  padding: 20rpx 30rpx;
  margin: 30rpx auto;
  display: flex;
  align-items: center;
}
.item input{
  flex: 1;
  height: 80rpx;
  border: 1px solid #0262ad;
  border-radius: 40rpx;
  padding-left: 20rpx;
}
.title{
  padding-right: 30rpx;
  padding-left: 20rpx;
}

.btn{
  width: 90%;
  height: 110rpx;
  background-image: linear-gradient(90deg,rgb(135, 158, 235),#2c82d3);
  border-radius: 55rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 60rpx auto;
  box-shadow: 0 0 40rpx 10rpx rgba(0,0,0,0.08);
}